doctype html
html(lang='es')
    head
        title='Test'
    body
        h1 test uploading files
        form(
            action='http://192.168.0.9:8082/upload'
            ref='uploadForm'
            id='uploadForm'
            method='post'
            encType='multipart/form-data'
        )
            input(
                type='file'
                name='sampleFile'
            )
            input(
                type='submit'
                value='Upload!'
            )